[Unit]
Description=Starts vagrant VMs
After=syslog.target network.target open-vm-tools.service

[Service]
User=root
Group=root
ExecStart=/bin/sh -c 'cd /k8s/data/kubernetes-setup && /usr/bin/vagrant reload'

[Install]
WantedBy=multi-user.target